* {
  box-sizing: border-box;
}

html,
body,
header,
.view,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view,
  #root {
    height: 100%;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.register-form {
  border: 3px solid #d3d3d3;
  border-radius: 0.5em;
  border-color: coral;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  padding: 8px;
  text-align: left;
  width: 600px;
}

.form {
  padding: 8pt;
}

label {
  font-weight: 600;
}

.createPostTitle {
  color: red;
}

.postTitle {
  color: #daa520;
}

.photo {
  max-width: 400px;
  max-height: 400px;
}

.makeCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  display: flex;
  margin-left: auto;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

p {
  margin: 10px;
  font-size: 18px;
}
